body {
box-sizing: border-box;
height: 100%;
width: 100%;
}
html {
    height:100%;
}

.navbar{
    height: 60px;
    background: green;
}
.navbar span {
    text-align: center;
    padding-top: 20px;
    background: #000;
    height: 100%;
}

nav .logo {
    display: inline-block;
    height: 60px;
    vertical-align: middle;
    width: 15%;
    margin: 20px 0 0 10px;

}

.container {
    float: left;
    position: absolute;
    top:63px;
    margin-left: 19%;
    border: 1px solid #000;
    height:500px;
    width: 80%;
}