.sidebar {
    background: #333;
    float: left;
    position: fixed;
    width: 18%;
    height: 100%;

}
.sidebar ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: 100%
}
.sidebar ul li {
    height: 30px;
    border-bottom: #ccc;
    width: 100%
    
}
ul.list-admin li a{
    color: #fff;
}